<!DOCTYPE html>
<html>
<head>
<title>XenonStack</title>
<meta content="device-width-device" viewport="metatag">
<link rel="stylesheet" href="{{asset "css/xenonstack.min.css"}}" async>
<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}" async>
</head>
<body>
<div class="wrapper">
  <div id="top-bar" class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="navbar-nav pull-right">
            <li><a href="#downloads">downloads</a></li>
            <li><a href="#discuss">docs</a></li>
            <li><a href="#discuss">discuss</a></li>
            <li><a href="#some">support</a></li>
            <li><a href="#discuss">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="header" class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><img src="{{asset "images/header-logo.png"}}" class="header-logo"></div>
        <div class="col-md-8">
          <ul class="navbar-nav pull-right">
            <li><a href="#products">Products</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#community">Community</a></li>
            <li><a href="#learn">Learn</a></li>
            <li><a href="#use-cases">Use Cases</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- banner block start here -->
  <section id="banner">
  	<div class="container">
    	<div class="heading_dtl">
        	<h6>CartoDB Platform</h6>
            <h3>Next Generation Mapping Platform for Big Data</h3>
        </div>
        <div class="r_button">
			<a href="#">Sign up</a>
		</div>
    </div>
  </section>
  <!-- banner block end here -->
  <!-- beadcrumbs  start-->
  <section id="breadcrumbs">
  	<div class="container">
    	<ul>
        	<li><a href="#">Introduction</a></li>
            <li><a href="#">Scalability</a></li>
            <li><a href="#">Data</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Case Study</a></li>
        </ul>
    </div>
  </section>
  <!-- beadcrumbs end -->
  <!-- Introduction block start here -->
  <section id="introduction">
  	<div class="container">
    	<div class="heading_dtl">
        	<h6>Introduction</h6>
            <h3>The XenonStack Platform</h3>
        </div>
        <div class="features_block_outer">
        	<p class="head_txt">In XenonStack  XenonStack is a platform to perform GIS, data analysis and data visualization operations, providing you with a set of tools and APIs. In fact, the <a href="#"> XenonStack</a> Editor is an application built on top of the CartoDB Platform.</p>
            <div class="main_img">
                <img src="images/intro_img.jpg" alt="intro">
            </div>
            <div class="F_block_container intro_detail">
            	<div class="heading_dtl">
                    <h3>API Powered</h3>
                    <p>With multiple APIs to choose from, you’ll have all the necessary tools to help you visualize and analyze your geospatial data. CartoDB provides a set of data services and wraps your own data into APIs.</p>
                </div>
				<div class="col-sm-3 pd_L0">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-newspaper-o"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>CartoDB.js</h5>
                            <p>Stay synced with your cloud of choice, no worries necessary. We update your changes as you make them so that your maps
                            work with you.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-credit-card-alt"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Sql API</h5>
                            <p>We support most common data formats. Using the CartoDB table view you can edit your data, georeference and export it.
                             Managing your map is now easier than ever.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3 ">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-map-o"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Maps API</h5>
                            <p>Connect data from an external URL, <a href="#">Google Drive</a> or  <a href="#">Dropbox</a>, and keep your tables automatically updated. Perfect for
                             visualizing datasets from public portals.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3 pd_R0">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                    		<i class="fa fa-database"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Import API</h5>
                            <p>Connect data from an external URL, <a href="#">Google Drive</a> or  <a href="#">Dropbox</a>, and keep your tables automatically updated. Perfect for
                             visualizing datasets from public portals.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- data block end here -->
  <!-- scalability block start here -->
  <section id="scalability">
  	<div class="container">
    	<div class="heading_dtl">
        	<h6>Scalability</h6>
            <h3>Enterprise-ready location analysis</h3>
        </div>
        <div class="features_block_outer">
        	<p class="head_txt">Surface insights, understand context, and make better decisions. Deploy on our cloud or On-Premises. Scale to thousands of users and manage them securely. All backed by incredible support and our 99.9% uptime guarantee. Market leaders trust XenonStack.</p>
            <a class="learn_more" href="#">Learn more</a>
            <div class="F_block_container center_block">
				<div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-refresh"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>On the cloud</h5>
                            <p>Use the CartoDB APIs to find and visualize data based on proximity to you or your customers.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-key"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>On your private cloud</h5>
                            <p>If you have an AWS2 based private cloud or Google Cloud Platform, we can easily leverage on your existing infrastructure.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>On premises</h5>
                            <p>We can ensure that your data never leaves your firewall, inside your infrastructure where you have total control of your data.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- scalability block end here -->
  <!-- data block start here -->
  <section id="data">
  	<div class="container">
    	<div class="heading_dtl">
        	<h6>Data</h6>
            <h3>Your data has a lot to say</h3>
        </div>
        <div class="features_block_outer">
        	<p class="head_txt">In XenonStack  you can store all sorts of data, geospatial or not. You can load data from various sources into your XenonStack account. From static CSVs and Shapefiles to writing data points to your account using our Data API.</p>
            <a class="learn_more" href="#">Learn more</a>
            <div class="main_img">
                <img src="{{asset "images/data.png"}}" alt="Data">
            </div>
            <div class="F_block_container center_block">
				<div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-refresh"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Cloud data sync</h5>
                            <p>Stay synced with your cloud of choice, no worries necessary. We update your changes as you make them so that your maps
                            work with you.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-jsfiddle"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Any format supported</h5>
                            <p>We support most common data formats. Using the CartoDB table view you can edit your data, georeference and export it.
                             Managing your map is now easier than ever.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-share-alt"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Integrate your services</h5>
                            <p>Connect data from an external URL, <a href="#">Google Drive</a> or  <a href="#">Dropbox</a>, and keep your tables automatically updated. Perfect for
                             visualizing datasets from public portals.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- data block end here -->
  <!-- features block start here -->
  <section id="features">
  	<div class="container">
    	<div class="heading_dtl">
        	<h6>Features</h6>
            <h3>Ready for Enterprise</h3>
        </div>
        <div class="features_block_outer">
        	<p class="head_txt">XenonStack is getting better every day. Make sense of your enterprise location data. Generate <br> reports, data visualisations & powerful interactive mapping solutions.</p>
            <a class="learn_more" href="#">Learn more</a>
            <div class="F_block_container">
				<div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-user"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Collaborative</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-jsfiddle"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Bigger resources</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-tachometer"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Security & Performance</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-cubes"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Open and extensible</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-key"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Secure</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-database"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Big data storage</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-file-text-o"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Dedicated VIP support</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
                <div class="col-sm-3">
                	<div class="f_wrapper">
                    	<div class="F_icon">
                			<i class="fa fa-github"></i>
                        </div>
                        <div class="f_text_detail">
                            <h5>Open Source</h5>
                            <p>Create teams, define roles, and share data and visualizations between your colleagues.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- features block end here -->
  <!-- signup block start here -->
  <section id="signup">
  	<div class="container">
    	<h6>Signup</h6>
        <h4>Start your insightful journey with  XenonStack</h4>
        <p>Start mapping now and get a better understanding of the world we live in. </p>
        <div class="r_button">
        	<a href="#">Sign up</a>
        </div>
    </div>
  </section>
  <!-- signup block end herte -->
  <div id="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Subscribe to our newsletter</h3>
          <p>Get the latest udpdates and free access to product beta version.</p>
        </div>
        <div class="col-md-6">
          <form id="subscribe-newsletter-form" method="POST" action="#">
            <input type="email" name="emailAddress" placeholder="Enter your Email Address">
            <button name="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footser start here -->
<footer>
	<div class="container">
    	<div class="footer_top">
        	<div class="col-sm-2">
            	<h4>Product</h4>
            	<ul>
                	<li><a href="#">Product </a></li>
                    <li><a href="#">Editor </a></li>
                    <li><a href="#">Platform </a></li>
                    <li><a href="#">Data </a></li>
                    <li><a href="#">Basemaps </a></li>
                    <li><a href="#">Extras </a></li>
                    <li><a href="#">Enterprise </a></li>
                    <li><a href="#">On-premises </a></li>
                    <li><a href="#">Open in CartoDB </a></li>
                    <li><a href="#">Torque </a></li>
                    <li><a href="#">Pricing </a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4>Solutions </h4>
            	<ul>
                	<li><a href="#">Banking and Finance </a></li>
                    <li><a href="#">BI and Analytics </a></li>
                    <li><a href="#">Earth Observation </a></li>
                    <li><a href="#">Education </a></li>
                    <li><a href="#">Government </a></li>
                    <li><a href="#">Journalism </a></li>
                    <li><a href="#">Natural resources </a></li>
                    <li><a href="#">Non-Profits</a></li>
                    <li><a href="#">Real Estate </a></li>
                    <li><a href="#">Web Development </a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4>CartoDB for </h4>
            	<ul>
                	<li><a href="#">Google Platform </a></li>
                    <li><a href="#">Twitter Maps </a></li>
                    <li><a href="#">Excel Data </a></li>
                    <li><a href="#">Data Dashboards </a></li>
                    <li><a href="#">Election Maps </a></li>
                    <li><a href="#">Store Locator </a></li>
                    <li><a href="#">Online GIS Maps </a></li>
                    <li><a href="#">Satellite Imagery</a></li>
                    <li><a href="#">Dropbox</a></li>
                    <li><a href="#">MailChimp </a></li>
                    <li><a href="#">Google Drive</a></li>
                    <li><a href="#">ArcGIS™</a></li>
                    <li><a href="#">Qlik</a></li>
                    <li><a href="#">Splunk </a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4>Discover </h4>
            	<ul>
                	<li><a href="#">Gallery </a></li>
                    <li><a href="#">Explore </a></li>
                    <li><a href="#">Ambassadors </a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4>Learn </h4>
            	<ul>
                	<li><a href="#">Documentation </a></li>
                    <li><a href="#">The Map Academy </a></li>
                    <li><a href="#">Resources Center </a></li>
                    <li><a href="#">Webinars </a></li>
                    <li><a href="#">Blog </a></li>
                    <li><a href="#">Source Code </a></li>
                    <li><a href="#">Contributions </a></li>
                </ul>
            </div>
            <div class="col-sm-2">
            	<h4>About us </h4>
            	<ul>
                	<li><a href="#">Team </a></li>
                    <li><a href="#">Board and Investors </a></li>
                    <li><a href="#">Jobs </a></li>
                    <li><a href="#">Media </a></li>
                    <li><a href="#">Press </a></li>
                    <li><a href="#">Partners </a></li>
                    <li><a href="#">Attributions </a></li>
                    <li><a href="#">Bug Bounty</a></li>
                    <li><a href="#">Contact Sales</a></li>
                    <li><a href="#">Request a Demo </a></li>
                </ul>
            </div>

        </div>
    	<div class="copyright">
        	<div class="row">
            	<div class="col-sm-6 footer_logo">
                	<img src="{{asset "images/header-logo.png"}}" alt="footer logo">
                </div>
                <div class="col-sm-6">
                	<p>&copy; 2016. All Rights Reserved - XenonStack </p>
                </div>
            </div>

    	</div>
    </div>
</footer>
<!-- footer end here -->
<script type="text/javascript" src="{{asset "js/xenonstack.min.js"}}"></script>
</body>
</html>
