<!DOCTYPE html>
<html>
  <head>
    <title>XenonStack</title>
    <link rel="stylesheet" href="{{asset "css/xenonstack.min.css"}}" async>
  </head>
  <body>
    <div class="wrapper">
      <div id="top-bar" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="navbar-nav pull-right">
                <li><a href="#downloads">downloads</a></li>
                <li><a href="#discuss">docs</a></li>
                <li><a href="#discuss">discuss</a></li>
                <li><a href="#some">support</a></li>
                <li><a href="#discuss">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="header" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-4"><img src="{{asset "images/header-logo.png"}}" class="header-logo"></div>
            <div class="col-md-8">
              <ul class="navbar-nav pull-right">
                <li><a href="/products/">Products</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#learn">Learn</a></li>
                <li><a href="#use-cases">Use Cases</a></li>
                <li><a href="#about">About</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="products-cover" class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h1>Explore the XenonStack Portfolio</h1>
              <p>Some softwares for business. HealthCare and Farming are primary research fields. Any text here. Somebody add something here.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="products-list" class="wrapper">
        <div class="product">
          <div class="container">
            <div class="row heading">
              <div class="col-md-8 col-md-offset-2">
                <h2>Backend As A Service</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6"><img src="{{asset "images/product-screenshot.png"}}" class="screenshot"></div>
              <div class="col-md-6">
                <h2>AlphaStack</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p><a href="#AlphaStack">Learn more about backend as a service &gt;</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product alt">
          <div class="container">
            <div class="row heading">
              <div class="col-md-8 col-md-offset-2">
                <h2>Backend As A Service</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <h2>AlphaStack</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p><a href="#AlphaStack">Learn more about backend as a service &gt;</a>
              </div>
              <div class="col-md-6"><img src="{{asset "images/product-screenshot.png"}}" class="screenshot"></div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="container">
            <div class="row heading">
              <div class="col-md-8 col-md-offset-2">
                <h2>Backend As A Service</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6"><img src="{{asset "images/product-screenshot.png"}}" class="screenshot"></div>
              <div class="col-md-6">
                <h2>AlphaStack</h2>
                <p>We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here. We have a backend as a service platform. That's awesome. Wanna try. Sign Up now for pre-release access. Write some clean text here.</p><a href="#AlphaStack">Learn more about backend as a service &gt;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="products-thumbnails" class="wrapper">
        <div class="thumbnail heart">
          <h3>AlphaStack</h3>
          <p>a very brief tagline here</p>
        </div>
        <div class="thumbnail love">
          <h3>AlphaStack</h3>
          <p>a very brief tagline here</p>
        </div>
        <div class="thumbnail genes">
          <h3>AlphaStack</h3>
          <p>a very brief tagline here</p>
        </div>
        <div class="thumbnail model">
          <h3>AlphaStack</h3>
          <p>a very brief tagline here</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{asset "js/xenonstack.min.js"}}"></script>
  </body>
</html>
